.div-delivery {
    //background-color: #F6F6F6;
    margin: auto;
    height: 100px;
    width: 100%;
    padding: 50px;
    font-weight: 400;
    font-size: 32px;
    height: auto;
}

.nav-buttons-active {
    margin-top: 30px;
    background-color: white;
    color: #2F65F1;
    width: 152px;
    height: 48px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    padding-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
}

.nav-buttons {
    margin-right: 4px;
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
    background-color: #EDEEEF;
    color: #999999;
    width: 152px;
    height: 48px;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    padding-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media screen and (max-width: 425px) {
    .display-nav-buttons {
        width: 50%;
        margin-right: 0;
    }
}