.input-container {
    background-color: white;
    padding: 44px 40px 48px 40px;
    font-size: 14px;
}

.input {
    font-size: 14px;
    padding: 14px;
    border: 1px solid #999999;
    border-radius: 4px;
    width: 100%;
    margin-top: 12px;
}

    .input:focus {
        outline-width: 0; /* Толщина внешней границы */
        border: 1px solid #000;
        border-radius: 5px;
    }

.input-error {
    margin-top: 12px;
    font-size: 14px;
    padding: 14px;
    border: 1px solid #999999;
    border-radius: 4px;
    width: 100%;
    background: url("../../icon/error.png") no-repeat 96% 13.5px;
    background-size: 22px 22px;
}

    .input-error:focus {
        outline-width: 0; /* Толщина внешней границы */
        border: 1px solid #000;
        border-radius: 5px;
    }

.input-label {
    display: block;
    margin-bottom: 0;
}

.div-input-last {
    margin-bottom: 40px;
}

.div-input-left {
    display: inline-block;
    width: 50%;
    padding-right: 24px;
    margin-bottom: 36px;
}

.div-input-right {
    display: inline-block;
    width: 50%;
    margin-bottom: 36px;
    float: right;
}

.div-input {
    margin-bottom: 36px;
}

.confirm-button {
    background-color: #215BF0;
    border: none;
    border-radius: 25px;
    padding: 10px 10px 12px 10px;
    color: white;
    font-size: 17px;
    width: 200px;
}

    .confirm-button:hover {
        background-color: #0F41C3;
    }

    .confirm-button:focus {
        outline-width: 0;
    }

.div-confirm-button {
    text-align: right;
}

@media screen and (max-width: 425px) {
    .display-mobile {
        display: block;
        width: 100%;
        padding-right: 0px;
        float: none;
    }

    .width-button {
        width: 90%;
    }

    .div-align {
        text-align: center;
    }
}

.label-error {
    color: red;
    margin-top: 5px;
}